<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andretrindade.batatas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_batatas"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListsOverviewActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andretrindade.batatas.MainActivity" />
        </activity>
        <activity
            android:name=".ShoppingListActivity"
            android:parentActivityName=".ListsOverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andretrindade.batatas.ListsOverviewActivity" />
        </activity>
        <activity
            android:name=".QRBarcodeReadActivity"
            android:parentActivityName=".ShoppingListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShoppingListActivity" />
        </activity>
        <activity
            android:name=".ShareFriendsActivity"
            android:parentActivityName=".ShoppingListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShoppingListActivity" />
        </activity>
    </application>

</manifest>
